{% extends 'core/panel.html' %}

{% block title %}
MedicoIO | Admin Panel | Paitents
{% endblock %}

{% block links %}

{% endblock %}


{% block content %}

<div class="block-header">
    <h2>Add Patients</h2>
    <small class="text-muted">Add any new patients in here</small>
</div>

<form action="{{ url_for('doc_patient') }}" method="POST">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <h6>Login Details</h6>
    <hr>

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="nric">NRIC</label>
                <input name="nric" type="text" id="nric" class="form-control" />
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="password">Password</label>
                <input name="password" type="password" id="password" class="form-control" />
            </div>
        </div>
    </div>

    <br>

    <h6>User Infromation</h6>
    <hr>

    <div class="row mb-4">
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="f_name">First name</label>
                    <input name="f_name" type="text" id="f_name"
                        class="form-control" />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="l_name">Last name</label>
                    <input name="l_name" type="text" id="l_name"
                        class="form-control" />
                </div>
            </div>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="email">Email</label>
            <input name="email" type="email" id="email" class="form-control" />
        </div>

        <!-- Number input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="contact">Phone</label>
            <input name="contact" type="number" id="contact"
                class="form-control" />
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="contact">Gender</label>
                    <select name="gender" class="form-select"
                        aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="contact">Blood Type</label>
                    <select name="blood" class="form-select"
                        aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="O">O</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="AB">AB</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">Add Patient</button>
</form>


{% endblock %}